In [1]:
import numpy as np
import pandas as pd
import PIL.Image as Image
import tensorflow as tf
import tensorflow_hub as hub

In [2]:
TF_MODEL_URL = 'https://tfhub.dev/google/on_device_vision/classifier/landmarks_classifier_asia_V1/1'
LABEL_MAP_URL = 'https://www.gstatic.com/aihub/tfhub/labelmaps/landmarks_classifier_asia_V1_label_map.csv'
IMAGE_SHAPE = (321, 321)

In [3]:
classifier = tf.keras.Sequential([hub.KerasLayer(TF_MODEL_URL,
                                                 input_shape=IMAGE_SHAPE+(3,),
                                                 output_key="predictions:logits")])

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

INFO:tensorflow:Saver not created because there are no variables in the graph to restore

In [4]:
df = pd.read_csv(LABEL_MAP_URL)

In [5]:
df.head()

   id                                          name
0   0                            Bagha Shahi Mosque
1   1                                   City Palace
2   2  The Immaculate Conception Cathedral of Cubao
3   3                                 City of David
4   4                                    Noor Mahal

In [6]:
label_map = dict(zip(df.id, df.name))

In [15]:
img_loc = "2.jpg"

In [16]:
img = Image.open(img_loc).resize(IMAGE_SHAPE)

In [ ]:
img

In [17]:
img = np.array(img)/255.0
img = img[np.newaxis, ...]

In [18]:
result = classifier.predict(img)

In [19]:
result

array([[ 0.10243182,  0.10270512,  0.05167606, ...,  0.01087124,
         0.02359215, -0.01156662]], dtype=float32)

In [20]:
print(label_map[np.argmax(result)])

India Gate